<a href="https://colab.research.google.com/github/gabrielavelilla06/introducci-n-a-Python-2024/blob/main/Pythonintroduccion202420.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mis Apuntes de Python
### Funfamentos de Programación 202420

**Nombre: ** Gabriela Velilla

*Fecha de creación: * 20 de agosto, 2024

** Email: ** gabriela.velilla@upb.edu.co

In [2]:
# Mis primeros pasos con python
print("Hola mundo")

Hola mundo

In [12]:
name = "Gabriela"
age = 18
city = "Corozal"

print("Hola, mi nombre es", name, "tengo", age, "años y soy de", city)

Hola, mi nombre es Gabriela tengo 18 años y soy de Corozal

In [19]:
# numeros
a = 10
b = 2.5
c = a + b
print(c)

# tipo de datos
print(type(a))
print(type(b))
print(type(c))

# operaciones basicas de matematicas

print(3 + 2)#suma
print(3 - 2)#resta
print(3 * 2)#multiplicación



# Concatenacion

name = "Gabriela"
lastname = "Velilla"
fullname = name + ' ' + lastname
print(fullname)
print((fullname +' ')*3)

12.5
<class 'int'>
<class 'float'>
<class 'float'>
5
1
6
Gabriela Velilla
Gabriela Velilla Gabriela Velilla Gabriela Velilla

In [35]:
# incrementos
a = 20
print("a =", a)
b = 10
a += b
print("a =", a)
a -= b
print("a =", a)
a *= b
print("a =", a)
a /= b
print("a =", a)

a = 20
a = 30
a = 20
a = 200
a = 20.0

In [39]:
# multi-line

song = """
Anoche soñé que estábamos los dos
Nos dábamos amor y hasta sentí su respiración
Y el aroma del perfume de tu piel
Pero todo era un sueño y se acabo
Y al despertar no la encontré me entristecí y hasta llore
Tan solo vi en la pared la foto de los dos
Y me invadieron los recuerdos y los más bellos momentos
El amor es un misterio yo no entiendo la razón
Si me juro que volvería me iba amar toda la vida
Se ha marchado pero nunca
Regreso
"""

In [40]:
# entrada de usuarios

a = int(input("ingrese el primer numero: "))
b = int(input("ingrese el segundo numero: "))
# a = float(input("ingrese el primer numero"))
# b = float(input(ingrese el segundo numero))
# a = 3
# b = 5
print( a + b)

ingrese el primer numero: 2
ingrese el segundo numero: 3
5